@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green: #33FF68;
    --goldenrod:#DAA520;
    --LightSeaGreen:#20B2AA;
    --mediumblue: #0f4c5c;
    --darkpink:#660A3F;/*5b0939*/
    --pink:#EB0988;
    --red:#FF0000;
    --gold:#FFD700;
    --chartreuse:#7FFF00;
    --teal:#008080;
    --lightred:#f94141;
    --MediumSpringGreen:#00FA9A;
    --darkgrey:#1b1717;
    --lime:#32CD32;
    --skyblue:#3a80e9;
    --saddlebrown:#8B4513;
    --white:#fff;
    --grey:#3e3737;
    --black:#0c0b0b;
    --blackk:#000;
    --hotpink:#FF69B4;
    --deeppink:#FF1493;
    --shadow-color: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);;
}

html{
  scroll-behavior: smooth;
}
body{
    margin:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-color: var(--skyblue);
    color: var(--chartreuse);
    font-family: 'Montserrat', sans-serif;
}
input{
  font-family: 'Montserrat', sans-serif;
}
